<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cwr.mapper.EmpMapper">
    <select id="list" resultType="com.cwr.pojo.Emp">
        SELECT id,
        username,
        password,
        name,
        gender,
        image,
        job,
        entrydate,
        dept_id,
        create_time,
        update_time
        FROM emp
        <where>
            <if test="name != null">
                name LIKE concat('%',#{name},'%')
            </if>
            <if test="gender != null">
                AND gender = #{gender}
            </if>
            <if test="begin != null and end != null">
                AND entrydate BETWEEN #{begin} AND #{end}
            </if>
        </where>
        LIMIT #{pageSize} OFFSET #{pageOffset};
    </select>
    <delete id="deleteEmpsByIds" parameterType="java.util.List">
        DELETE FROM emp
        WHERE id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>