<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cwr.mapper.EmpMapper">
    <update id="update" parameterType="com.cwr.pojo.Emp">
        UPDATE emp
        SET username = #{username},
        name = #{name},
        gender = #{gender},
        image = #{image},
        job = #{job},
        entrydate = #{entrydate},
        dept_id = #{deptId},
        update_time = now()
        WHERE id = #{id}
    </update>
    <select id="list" resultType="com.cwr.pojo.Emp">
        SELECT id,
        username,
        password,
        name,
        gender,
        image,
        job,
        entrydate,
        dept_id,
        create_time,
        update_time
        FROM emp
        <where>
            <if test="name != null">
                name LIKE concat('%',#{name},'%')
            </if>
            <if test="gender != null">
                AND gender = #{gender}
            </if>
            <if test="begin != null and end != null">
                AND entrydate BETWEEN #{begin} AND #{end}
            </if>
        </where>
    </select>
    <select id="findById" resultType="com.cwr.pojo.Emp">
        SELECT id,
        username,
        password,
        name,
        gender,
        image,
        job,
        entrydate,
        dept_id,
        create_time,
        update_time
        FROM emp
        WHERE id = #{id}
    </select>
    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(*) FROM emp
    </select>
    <select id="findPasswordByUsername" resultType="java.lang.String">
        SELECT password FROM emp WHERE username = #{username}
    </select>
    <delete id="deleteEmpsByIds" parameterType="java.util.List">
        DELETE FROM emp
        WHERE id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <insert id="add" parameterType="com.cwr.pojo.Emp">
        INSERT INTO emp (username,
        password,
        name,
        gender,
        image,
        job,
        entrydate,
        dept_id,
        create_time,
        update_time)
        VALUES (
        #{username},
        #{password},
        #{name},
        #{gender},
        #{image},
        #{job},
        #{entrydate},
        #{deptId},
        now(),
        now()
        )
    </insert>
</mapper>